$breakpoints: (
  "sp": 600px,
  "tab": 980px,
  "pc": 981px
);
@mixin mq($device) {
  $size: map-get($breakpoints, $device);

  @if $device =="pc" {
    @media (min-width: #{$size}) {
      @content;
    }
  }
  @if $device =="tab" {
    @media (max-width: #{$size}) {
      @content;
    }
  }
  @if $device =="sp" {
    @media (max-width: #{$size}) {
      @content;
    }
  }
}
// PC用: vw(値)  タブレット用: tvw(値)  スマホ用: svw(値)
@function vw($px) {
  @return calc(#{$px}vw / 14.4);
}
@function tvw($px) {
  @return calc(#{$px}vw / 9.8);
}
@function svw($px) {
  @return calc(#{$px}vw / 3.75);
}