a {
  display: inline-block;
}


.g__counseling {
  background-color: #fff;

  .wrapper {
    background-color: #fff;
  }

  &__text {
    width: 100%;

    @include mq(sp){
      display: none;
    }


    p {
      margin: 0 auto;
      font-size: 0.7rem;
    }
  }
}

.g__counseling__container {
  text-align: center;
  z-index: 20;

  @include mq(sp){
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  p {
    margin-bottom: 10px;
    padding-inline: 10px;
    font-size: 14px;
    color: #000;
  }

  img {
    width: 30%;
  }

  /*カウンセリング予約*/
  .g__counseling__reserve {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    padding: 5%;
    background-color: #FFF3D5;
    z-index: 1;

    h3 {
      margin-bottom: 5px;
      font-size: 16px;
      color: #000;
    }
  }

  /*hoverしたらオレンジに変わる*/
  .g__counseling__reserve::after{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    transform: scale(0,1);
    transform-origin: center;
    transition: 0.4s ease;
    background-color: #FFC22F;
    z-index: -1;
  }

  .g__counseling__reserve:hover {
    color: #fff;
  }

  .g__counseling__reserve:hover::after {
    transform: scale(1,1);
  }

  /*LINE予約*/
  .g__counseling__line {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 205px;
    padding: 5%;
    background-color: #07B53B;
    z-index: 1;

    h3 {
      margin-bottom: 20px;
      font-size: 16px;
    }

    img {
      margin-top: 15px;
    }
  }

  /*hoverしたら水色に変わる*/
  .g__counseling__line::after{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    transform: scale(0,1);
    transform-origin: center;
    transition: 0.4s ease;
    background-color: #7FBBDD;
    z-index: -1;
  }

  .g__counseling__line:hover {
    color: #fff;
  }

  .g__counseling__line:hover::after {
    transform: scale(1,1);
  }


}
