

.g__counseling.g__counseling__pc {
  display: block;

  @include mq(tab) {
    display: none;
  }
}

.g__counseling__tab{
  display: none;
}

.g__counseling__tab.g__counseling__sp {
  display: block;

  .g__counseling__reserve img,.g__counseling__line img {
      width: 25px;
      height: 25px;
    }
}

  .g__counseling__tab .g__counseling__flex {
    display: flex;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 768px;
    height: auto;
    z-index: 1000;

    .g__counseling__reserve,.g__counseling__line {
      flex: 0 0 50%;
    }
  }



.g__counseling__pc .g__counseling__container {
  display: flex;
  max-width: 600px;
  width: 100%;
  height: 13vh;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 20;

  @media(max-width:830px) {
    height: 12vh;
  }

  img {
    width: 25px;
  }

  .g__counseling__text {
    display: none;

    @include mq(sp) {
      display: block;
    }
  }
}

/*カウンセリング予約*/
.g__counseling__reserve {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  overflow: hidden;
  flex-basis: 55%;
  height: 100%;
  padding: 10px 5px;
  background-color: #FFC22F;
  z-index: 1;

  @media(max-width: 768px) {
    flex-basis: 50%;
  }

  h3 {
    margin-bottom: 5px;
    font-size: 12px;
    color: #000;

    @media(max-width: 830px) {
      font-size: 10px;
    }
  }

  .g__counseling__text {
    margin-bottom: 10px;
    font-size: 11px;
    color: #000;
  }
}

/*hoverしたらオレンジに変わる*/
.g__counseling__reserve::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: center;
  transition: 0.4s ease;
  background-color: #F58B05;
  z-index: -1;
}

.g__counseling__reserve:hover {
  color: #fff;
}

.g__counseling__reserve:hover::after {
  transform: scale(1, 1);
}

/*LINE予約*/
.g__counseling__line {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
  flex-basis: 45%;
  height: 100%;
  padding: 10px 5px;
  background-color: #07B53B;
  z-index: 1;

  @media(max-width: 768px) {
    flex-basis: 50%;
  }

  h3 {
    margin-bottom: 5px;
    font-size: 12px;

    @media(max-width: 830px) {
      font-size: 10px;
    }
  }

  .g__counseling__text {
    margin-bottom: 10px;
    font-size: 11px;
    color: #000;

  }
}

/*hoverしたら水色に変わる*/
.g__counseling__line::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: center;
  transition: 0.4s ease;
  background-color: #7FBBDD;
  z-index: -1;
}

.g__counseling__line:hover {
  color: #fff;
}

.g__counseling__line:hover::after {
  transform: scale(1, 1);
}
