/* PCデザイン: 3カラム (20% 50% 30%) */
.layout {
  display: grid;
  grid-template-columns: 20% 45% 35%;
  min-height: 100vh;
  width: 100%;
  @include mq(tab) {
    grid-template-columns: 1fr;
  }
}

.center-col {
  width: 100%;
}

.left-col {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 2%;
  @include mq(tab) {
    height: initial;
    padding: 0;
  }
}

.right-col {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 1%;
  @include mq(tab) {
    display: none;
  }
}

.left-col,
.right-col {
  background-color: #FFF4DB;
  @include mq(tab) {
    background-color: ini;
  }
}

.p-youtube {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f58b05;
  padding: 2%;
  border-radius: 0.625rem;
  font-size: 0.625rem;
  @include mq(tab) {
    width: 100%;
  }
}

.p-youtube span {
  font-size: 0.8rem;
  color: #fff;
}

.p-youtube__inner iframe {
  display: block;
}
