/* PCデザイン: 3カラム (20% 50% 30%) */
.layout {
  display: grid;
  grid-template-columns: 20% 45% 35%;
  min-height: 100vh;
  width: 100%;
  @include mq(sp) {
    grid-template-columns: 100%;
  }
}

.left-col {
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 5%;
  @include mq(sp) {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    z-index: 9999;
  }
}

.right-col {
  position: sticky;
  top: 0;
  height: 100vh;
}
