.reason-main {
  max-width: 600px;
  text-align: center;

  .wrapper {
    background-color: #fff;

    .title-box {
      margin: 20px 0;
    }
  }
}

/*四角の説明×９個*/
.grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;

  .grid-item {
    width: 100%;
    height: 100%;
    padding: 10px 0;
    border-radius: 20%;
    background: #7FBBDD;
    text-align: center;
    align-self: center;
    cursor: pointer;

    .grid-icon {
      width: 30px;
    }

    p {
      margin-top: 10px;
      font-size: 10px;
    }
  }

  .grid-item:nth-child(2n) {
    background: rgba(255, 226, 47, 0.6);
  }
}

/*四角をクリックしたら出てくる説明文*/
.mask {
  display: none;
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
  z-index: 10;

  &.open {
    display: block;
  }
}

.mask-content {
  display: none;
  width: 90%;
  max-width: 600px;
  transition: 0.8s;
  z-index: 20;

  &.show {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #fff;
  }

  h3 {
    margin-bottom: 30px;
    color: #FFC22F;
    font-size: 20px;
  }

  p {
    text-align: left;
  }
}

/*ページ中間の説明文*/
.reason-text {
  margin: 50px 0;

  &-box {
    display: flex;
    justify-content: space-between;

    margin: 10px 0;

    /*色と角の設定*/
    $box-padding: 10px 20px;
    $border-radius: 10px;
    $border: 1px solid #000;

    .orangebox {
      padding: $box-padding;
      background: #FFC22F;
      border-radius: $border-radius;
      border: $border;
    }

    .bluebox {
      padding: $box-padding;
      background: #7FBBDD;
      border-radius: $border-radius;
      border: $border;
    }

    p:nth-child(2) {
      font-size: 30px;
      font-weight: bold;
    }
  }
}

/*ページ下層の説明文*/
.reason-detail {
  width: 87%;
  margin-left: auto;
  text-align: left;

    dt {
      margin-bottom: 5px;
      font-weight: bold;
      font-size: 13px;
    }

    dd {
      font-size: 12px;
    }

    .analize,.support-txt {
      position: relative;
      margin-bottom: 20px;
    }

    .analize::before {
      position: absolute;
      content: "";
      width: 25px;
      height: 25px;
      top: 0;
      left: -30px;
      background-image: url(/plus-ultra/img/reason10.png);
      background-size: contain;
    }

    .support-txt::before{
      position: absolute;
      content: "";
      width: 25px;
      height: 25px;
      top: 0;
      left: -30px;
      background-image: url(/plus-ultra/img/reason11.png);
      background-size: contain;
    }
}
