@import 'base/mixin';
@import 'base/base';
@import 'component/component';
// ここに各ページのscssを追加
@import 'top';
@import 'about';
@import 'component/header';
@import 'component/footer';
@import 'question';
@import 'component/empathy';
@import 'reason';
@import 'step';
@import 'component/about';
@import 'component/voice';
@import 'counseling'
