/*======================
  reset
======================*/
html, body, div, span, iframe, h1, h2, h3, h4, p, a, img, dl, dt, dd, ol, ul, li, label, table, tbody, tr, th, td, figure, blockquote {
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

article, aside, figure, footer, header, nav, section {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s ease-in;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

video {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

input[type=submit] {
  -webkit-appearance: none;
  border-radius: 0;
}

/*======================*/
body {
  font-family: "Lato", "Noto Sans Japanese", "Noto Sans JP", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
  color: #111;
}

.wrapper {
  max-width: 1000px;
}

header {
  background: blue;
  height: 80px;
}

main {
  width: 30rem;
  margin-inline: 5%;
}

.p-empathy {
  width: 100%;
}

.p-empathy__reading-wrapper {
  background-image: linear-gradient(#ffffff, #9d9fa1 17%, #6d7072 35%, #3c4043 68%);
  text-align: center;
  padding-block: 10rem 1rem;
  border-bottom-left-radius: 1000px 200px;
  border-bottom-right-radius: 1000px 200px;
}

.p-empathy__reading {
  color: #ffffff;
  font-size: 20px;
}

.p-empathy__worries__wrapper {
  background-image: url(../../../img/worries-bg.jpg);
  background-position: center;
  background-size: cover;
  padding-block: 20rem 3rem;
  margin-top: -2rem;
  position: relative;
  z-index: -5;
}

.p-empathy__worries-lists {
  padding-inline: 3.125rem;
}

.p-empathy__worries-list {
  background-color: #ffffff;
  font-size: 0.75rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1rem;
  border-radius: 0.625rem;
  box-shadow: 1px 5px 5px -2px #3C4043;
}

.p-empathy__worries-lists .p-empathy__worries-list:nth-of-type(even) {
  margin-inline: auto 0;
}

.p-empathy__answer-wrapper {
  background-image: url(../../../img/answer-bg.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-block: 5rem;
}

.p-empathy__answer-reading {
  padding: 1rem 2rem;
  background-image: linear-gradient(90deg, #ffc22f 30%, #ffde8d 52%, #ffc22f 70%);
  display: inline-block;
  color: #ffffff;
  border-radius: 0.625rem;
  margin-bottom: 2rem;
}

.p-empathy__answer-reading h2 {
  text-shadow: 1px 2px 3px #3C4043;
}

.p-empathy__answer-lists {
  background-color: #7FBBDD;
  padding: 1rem 3.38rem;
  text-align: left;
  color: #ffffff;
  display: inline-block;
  border-radius: 0.625rem;
}

.p-empathy__answer-list {
  padding-bottom: 0.625rem;
}

.p-empathy__answer-catch {
  padding-top: 3rem;
  padding-inline: 3.125rem;
  font-size: 1.25rem;
}

.p-empathy__answer-catch span {
  color: #F58B05;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */