.p-about {
    padding-inline: 2.8125rem;
    padding-bottom: 5rem;
}

/*最初は表示させない*/
.title {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.01s;
}
/*アニメーション実行後の表示状態*/
.title.is-animated {
    opacity: 1;
    visibility: visible;
}

.title h2 {
    position: relative;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding-block: 3rem;
    z-index: 20;
    opacity: 0;
    transition: opacity 0.8s ease-out;
}

.title h2::before {
    content: attr(data-en);
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(100%);
    color: #7FBBDD;
    font-size: 80px;
    font-style: italic;
    z-index: -1;
    transition: transform 0.8s cubic-bezier(0.25,0.46,0.45,0.94);
}

/*is-animateクラスが付与されたら開始*/
.title-box.is-animated h2::before {
    transform: translateX(-50%);
    transition-delay: 0.1s;
}

.title-box.is-animated h2 {
    opacity: 1;
    transition-delay: 0.7s;
}



.p-about__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p-about__text p {
    padding-bottom: 0.625rem;
}

// .p-about__text span {
//     position: relative;
// }

.marker {
  background: linear-gradient(
    to right,
    rgba(255,153,0,0.5) 0%,
    rgba(255,153,0,0.5) 100%
  );
  background-size: 0% 50%;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 0.8s ease-out;

  display: inline-block; /* ★ inline → inline-block に */
}

.marker.on {
  background-size: 100% 40%; /* ★ 左→右へ伸びる */
}


// .p-about__text span::before {
//     position: absolute;
//     content: "";
//     bottom: 0;
//     width: 100%;
//     height: 8px;
//     background-color: rgba(255, 194, 47, 0.59);
// }

.p-about__image {
    text-align: center;
    padding-block: 1rem;
}

.p-about__image img {
    object-fit: cover;
    border-radius: 0.625rem;
}
