.p-about {
    padding-inline: 2.8125rem;
}

.title h2 {
  position: relative;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  padding-block: 3rem;
}

.title h2::before {
  content: attr(data-en);
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: #7FBBDD;
  font-size: 80px;
  font-style: italic;
  z-index: -1;
}

.p-about__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p-about__text p {
    padding-bottom: 0.625rem;
}

.p-about__text span {
    position: relative;

}

.p-about__text span::before {
    position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
    height: 8px;
    background-color: rgba(255, 194, 47, 0.59);
}

.p-about__image {
    text-align: center;
    padding-block: 1rem;
}

.p-about__image img {
    object-fit: cover;
    border-radius: 0.625rem;
}