

//pcで左にある時
.g__counseling__container {
  display: flex;
  max-width: 600px;
  width: 100%;
  height: 13vh;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 20;

  @media(max-width:830px) {
    height: 12vh;
  }

  img {
    width: 25px;
  }
}

.g__counseling__tab.g__counseling__sp {
  position:sticky;
  top: calc(100vh - 80px);
  z-index: 9999;
}

.g__counseling__tab .g__counseling__container{
  display: none;
  z-index: 9999;
}

//spがついたときの中身
.g__counseling__tab.g__counseling__sp .g__counseling__container{
  position: sticky;
  display: flex;
  top: 60px;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 768px;
  height: 80px;
  z-index: 9999;
}


/*カウンセリング予約*/
.g__counseling__reserve {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  overflow: hidden;
  flex-basis: 55%;
  height: 100%;
  padding: 10px 5px;
  background-color: #FFC22F;
  z-index: 9999;

  @media(max-width: 768px) {
    flex-basis: 70px;
  }

  h3 {
    margin-bottom: 5px;
    font-size: 12px;
    color: #000;

    @media(max-width: 830px) {
      font-size: 10px;
    }
  }

  .g__counseling__text {
    margin-bottom: 10px;
    font-size: 11px;
    color: #000;
  }
}

/*hoverしたらオレンジに変わる*/
.g__counseling__reserve::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: center;
  transition: 0.4s ease;
  background-color: #F58B05;
  z-index: -1;
}

.g__counseling__reserve:hover {
  color: #fff;
}

.g__counseling__reserve:hover::after {
  transform: scale(1, 1);
}

/*LINE予約*/
.g__counseling__line {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
  flex-basis: 45%;
  height: 100%;
  padding: 10px 5px;
  background-color: #07B53B;
  z-index: 9999;

  @media(max-width: 768px) {
    flex-basis: 70px;
  }

  h3 {
    margin-bottom: 5px;
    font-size: 12px;

    @media(max-width: 830px) {
      font-size: 10px;
    }
  }

  .g__counseling__text {
    margin-bottom: 10px;
    font-size: 11px;
    color: #000;

  }
}

/*hoverしたら水色に変わる*/
.g__counseling__line::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: center;
  transition: 0.4s ease;
  background-color: #7FBBDD;
  z-index: -1;
}

.g__counseling__line:hover {
  color: #fff;
}

.g__counseling__line:hover::after {
  transform: scale(1, 1);
}


//スマホビューになったときに要素が一番上にくるようにする
