.editor {
  flex: 1;
  height: 100vh;
  padding: 0.5rem;
}

.editor__title {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.editor__container {
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.editor__challenge {
  font-size: 0.625rem;
  font-weight: bold;
  padding: 0.5rem;
  border-left: 4px solid #00bcd4;
  max-width: 100%;
  box-sizing: border-box;
  border-radius: 6px;
  line-height: 1.5;
}

.editor__code-group {
  display: flex;
  gap: 1rem;
  height: fit-content;
}

.editor__code-block {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.editor__label {
  font-weight: bold;
  margin-bottom: 0.2rem;
  font-size: 0.625rem;
}

.editor__code {
  border: 1px solid #ccc;
  height: 5rem;
  margin-bottom: 1rem;
  background: white;
  max-width: 100%;         /* 親幅を超えない */
  font-size: 0.625rem;
}

.cm-editor {
  height: 100%;
  padding: 0;
}
.cm-scroller {
  height: 100%;
}

.p-editor__button-wrapper {
    display: flex;
    justify-content: space-between;
}

.editor__run,
.editor__next {
  background: #FFC22F;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.625rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.625rem;
}

.editor__preview {
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  height: 5rem;
  overflow: auto;
  background: white;
}

.editor__bubble {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background: #ff6f61;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 999px;
  font-weight: bold;
  z-index: 1000;
}
