.p-empathy {
  width: 100%;
}

.p-empathy__reading-wrapper {
  background-image: linear-gradient(
    #ffffff,
    #9d9fa1 17%,
    #6d7072 35%,
    #3c4043 68%
  );
  text-align: center;
  padding-block: 10rem 1rem;
  border-bottom-left-radius: 1000px 200px;
  border-bottom-right-radius: 1000px 200px;
}

.p-empathy__reading {
  color: #ffffff;
  font-size: 20px;
}

.p-empathy__worries__wrapper {
  background-image: url("../img/worries-bg.jpg");
  background-position: center;
  background-size: cover;
  padding-block: 20rem 3rem;
  margin-top: -2rem;
  position: relative;
  z-index: -5;
}

.p-empathy__worries-lists {
  padding-inline: 3.125rem;
}

.p-empathy__worries-list {
  background-color: #ffffff;
  font-size: 0.75rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
  margin-bottom: 1rem;
  border-radius: 0.625rem;
  box-shadow: 1px 5px 5px -2px #3c4043;
}

.p-empathy__worries-lists .p-empathy__worries-list:nth-of-type(odd) {
  margin-right: auto;
  @include mq(tab) {
  }
}

.p-empathy__worries-lists .p-empathy__worries-list:nth-of-type(even) {
  margin-left: auto;
  @include mq(tab) {
  }
}

.p-empathy__answer-wrapper {
  background-image: url("../img/answer-bg.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-block: 5rem;
}

.p-empathy__answer-inner {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-inline: auto;
  @include mq(tab) {
  }
}

.p-empathy__answer-reading {
  padding: 0.5rem;
  background-image: linear-gradient(
    90deg,
    #ffc22f 30%,
    #ffde8d 52%,
    #ffc22f 70%
  );
  color: #ffffff;
  border-radius: 0.625rem;
  margin-bottom: 2rem;
}

.p-empathy__answer-reading h2 {
  text-shadow: 1px 2px 3px #3c4043;
}

.p-empathy__answer-lists {
  background-color: #7fbbdd;
  padding: 0.5rem;
  color: #ffffff;
  border-radius: 0.625rem;
  display: inline-block;
}

.p-empathy__answer-list {
  padding-bottom: 0.625rem;
}

.p-empathy__answer-catch {
  padding-top: 3rem;
  padding-inline: 1rem;
  font-size: 1.25rem;
}

.p-empathy__answer-catch span {
  color: #f58b05;
  font-weight: 600;
}
