
/* HERO ========================= */
.hero {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.bg-video {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.bg-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 中央コンテンツ */
.hero-inner {
    height: auto;
    width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 最初は非表示（透明ではなくdisplay:noneで消す） */
.normal-section.hidden {
  display: none;
  opacity: 0;
}

#logoSVG {
  margin-top: 8rem;
}


/* 手書きロゴ */
#logoSVG path {
  stroke: #7FBBDD;
  stroke-width: 5;
  fill: transparent;
}

/* テキスト */
.hero-tagline {
  font-size: 28px;
  margin-top: 0px;
  color: #fff;
  text-shadow: 3px 3px 2px #7FBBDD;
}

.hero-sub {
  font-size: 18px;
  opacity: .85;
//   margin-bottom: 40px;
  color: #fff;
  text-shadow: 3px 3px 2px #7FBBDD;
}

/* ← 矢印 ============================== */
.drag-area {
  margin-top: 10px;
  width: 140px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* ← の “く” の部分 */
.arrow-head {
  width: 20px;
  height: 20px;
  border-left: 5px solid #F58B05;
  border-bottom: 5px solid #333;
  transform: rotate(45deg);
  margin-right: 6px;
  opacity: 0.85;
}

/* ← の ——— 棒部分 */
.arrow-body {
  height: 5px;
  width: 80px; /* 初期状態：短い */
  background: #F58B05;
  transition: width 0.1s linear;
  opacity: 0.9;
  margin-left: -10px;
}

/* 通常セクション ======================= */
.normal-section {
  min-height: 100vh;
  padding: 100px 24px;
  /* background: #111; */
}
