.mv {
  display: none;
  @include mq(tab) {
  height: 100vh;
  width: 100%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  }
}

/* ---------------------
   追従リンク（SPのみ）
---------------------- */
.floating-links {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  flex-direction: column-reverse;
  gap: 10px;
  z-index: 99;
}

.floating-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  position: relative;
}

.floating-open {
  width: 7.5rem;
  height: 5rem;
  color: #fff;
  background-color: #C4E9F2;
  border-radius: 6px;
  padding: 5px 3px 0 3px;
  overflow: hidden;
}

.floating-editor {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  font-size: 0.625rem;
  color: #3C4043;
}

.floating-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.floating-close {
    display: inline-flex;
  align-items: center;
  position: absolute;
  top: -5px;
  right: 18px;
  padding: 0.625rem;
  border: none;
  background: #555;
  color: #fff;
  border-radius: 50%;
    width: 1.875rem;
  height: 1.875rem;
}

.floating-open p {
  font-size: 0.625rem;
  color: #F58B05;
  background-color: #fff;
  padding: 1px;
    border-radius: 4px;

}

.floating-close-youtube {
  position: absolute;
  top: -15px;
  right: -15px;
}

/* ---------------------
       モーダル
---------------------- */
.modal {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .3s ease;
  z-index: 300;
}

/* モーダル表示用クラス */
.modal.show {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-content {
  background: #fff;
  padding: 20px;
  width: 90%;
  height: 90%;
  max-width: 500px;
  border-radius: 10px;
  position: relative;
  background-color: #FFF6D8;
}

.modal-close {
  position: absolute;
  display: inline-flex;
  align-items: center;
  top: 20px;
  right: 10px;
  font-size: 18px;
  background: #ccc;
  padding: 0.625rem;
  border-radius: 50%;
  width: 1.875rem;
  height: 1.875rem;
}

