.reason-main {
  margin: auto;
  text-align: center;

  .wrapper {
    width: 100%;
    padding-inline: 5%;
    background-color: #fff;

    @include mq(tab) {
      width: inherit;

    }


    .title-box {
      position: relative;
      margin: 20px 0;

      span {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
      }
    }

    .title h2::before {
      color: #C0E7B3;
      top: 0;
    }
  }
}

.grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;

  .grid-item {
    aspect-ratio: 100/100;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    border-radius: 20%;
    background: #7FBBDD;
    text-align: center;
    align-self: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;

    .grid-icon {
      aspect-ratio: 35/35;
      width: 50%;
      height: 50%;
    }

    p {
      padding-block: 0.8rem;
      font-size: 1.5vw;

      @include mq(tab) {
        font-size: 3vw;
      }
    }
  }

  .grid-item:nth-child(2n) {
    background: rgba(255, 226, 47, 0.6);
  }
}

.mask {
  display: none;

}

.open .mask {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  background: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
  z-index: 30;
}

.mask-content {
  position: fixed;
  top: 0;
  left: -100%;
  width: 400px;
  transition: 0.5s;
  z-index: 40;
  opacity: 0;

  h3 {
    margin-bottom: 30px;
    color: #FFC22F;
    font-size: 20px;
  }

  p {
    text-align: left;
  }
}

.show.mask-content {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 1;
}


.reason-text {
  margin: 50px 0;

  &-box {
    display: flex;
    justify-content: space-evenly;

    margin: 10px 0;

    /*色と角の設定*/
    $box-padding: 10px 20px;
    $border-radius: 10px;
    $border: 1px solid #000;

    .orangebox {
      padding: $box-padding;
      background: #FFC22F;
      border-radius: $border-radius;
      border: $border;
    }

    .bluebox {
      padding: $box-padding;
      background: #7FBBDD;
      border-radius: $border-radius;
      border: $border;
    }

    p:nth-child(2) {
      font-size: 30px;
      font-weight: bold;
    }
  }
}

.reason-detail {
  width: 90%;
  margin-left: auto;
  text-align: left;

  dt {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
  }

  dd {
    font-size: 15px;
  }

  &-analize,
  &-support {
    position: relative;
    margin-bottom: 20px;
  }

  &-analize::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: 0;
    left: -35px;
    background-image: url(../../img/reason10.png);
    background-size: contain;
  }

  &-support::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: 0;
    left: -35px;
    background-image: url(../../img/reason11.png);
    background-size: contain;
  }
}
