.p-voice {
    background-color: rgba(255, 194, 47, 0.3);
    padding-block: 3.75rem;
    width: 27.5rem;
    margin-inline: auto;
}


.p-voice__box-scroll {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.p-voice__title h2::before {
    position: absolute;
    top: 0;
}

.p-voice__title {
    text-align: center;
    padding-block: 2rem;
}

.p-voice__title p {
    font-size: 1rem;
}

.p-voice__box {
    flex: 1;
    background-color: #fff;
    width: 21.875rem;
    padding: 1rem;
    border-radius: 50px 0;
    margin-bottom: 1.5625rem;
    box-shadow: 1px 3px 5px 1px rgba(60, 64, 67, 0.5);
    position: sticky;
    top: 10rem; /*固定開始位置*/
    z-index: 1;
}

.p-voice__box:nth-child(2) { z-index: 2; }
.p-voice__box:nth-child(3) { z-index: 3; }
.p-voice__box:nth-child(4) { z-index: 4; }


.p-voice__box-wrap {
    overflow: visible;
    top: 0;
    height: auto;
}

.p-voice__box-reading {
    border-bottom: 3px solid #7FBBDD;
    display: flex;
    align-items: center;
    padding-bottom: 0.625rem;
    justify-content: center;
}

.p-voice__box-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.p-voice__box-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.p-voice__box-title {
    padding-left: 1rem;
}

.p-voice__box-text {
    padding: 2rem 1.5625rem;
    line-height: calc(30/16);
    letter-spacing: .1em;
}

.p-voice__box-name {
    font-size: 0.75rem;
    text-align: right;
    padding-right: 1.5625rem;
    padding-bottom: 1rem;
}
